

/*
RAILROAD CSS
*/
svg.railroad-diagram {
    background-color: hsl(0, 0%, 100%);
  }
  svg.railroad-diagram path {
    stroke-width: 2;
    stroke: black;
    fill: rgba(0,0,0,0);
  }
  svg.railroad-diagram text {
    font: lighter 14px monospace;
    text-anchor: middle;
    white-space: pre;
  }
  svg.railroad-diagram text.diagram-text {
    font-size: 12px;
  }
  svg.railroad-diagram text.diagram-arrow {
    font-size: 16px;
  }
  svg.railroad-diagram text.label {
    text-anchor: start;
  }
  svg.railroad-diagram text.comment {
    font: italic 12px monospace;
  }
  svg.railroad-diagram g.non-terminal text {
    /*font-style: italic;*/
  }
  svg.railroad-diagram rect {
    stroke-width: 2;
    stroke: black;
    fill: hsl(0, 0%, 93%);
  }
  svg.railroad-diagram rect.group-box {
    stroke: gray;
    stroke-dasharray: 10 5;
    fill: none;
  }
  svg.railroad-diagram path.diagram-text {
    stroke-width: 2;
    stroke: black;
    fill: white;
    cursor: help;
  }
  svg.railroad-diagram g.diagram-text:hover path.diagram-text {
    fill: #eee;
  }
  
  g.ast-literal-node > rect {
    fill:hsl(0, 100%, 73%)
  }
  
  g.ast-class-node > rect {
    fill:hsl(209, 100%, 76%)
  }